html{
  margin:0;
  padding:0;
  max-height:100vh;
}

h1.top-title {
  text-align: center;
  border: 1px solid black;
}

.reminders-box{
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  padding: 10px;
}

.wrapper {
  padding: 0px;
}

.checkbox-for-reminders {
  margin-right: 5px;
}
@media only screen and (max-width: 1400px) {
  .reminders-box{
    height: 60%;
  }
}